/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mb-menu__item {
    @apply py-4 text-sm font-medium text-gray-700 border-b border-gray-200 last:border-0 cursor-pointer;
  }
  .menu__item {
    @apply relative group text-white group font-normal text-sm py-2 px-4 cursor-default flex transition hover:text-primary-light;
  }
  .bridge {
    @apply absolute left-0 top-full right-0 w-full h-3 bg-transparent;
  }
}

.triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
